name: Pre-commit checks

on: [push, pull_request]

jobs:
  pre-commit-checks:
    name: Pre-commit checks
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Set up Python
        run: uv sync --frozen

      - name: Run pre-commit
        run: uv run pre-commit run --all-files